* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.header-content-box {
  background-image: url("../images/mobile/image-header.jpg");
  width: auto;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.egg-picture {
  background-image: url("../images/mobile/image-transform.jpg");
}

.cup-picture {
  background-image: url("../images/mobile/image-stand-out.jpg");
}

.graphic-design-text-img {
  background-image: url("../images/mobile/image-graphic-design.jpg");
}

.photography-text-img {
  background-image: url("../images/mobile/image-photography.jpg")
}

.egg-picture, .cup-picture, .graphic-design-text-img, .photography-text-img  {
  width: auto;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.graphic-design-text-img, .photography-text-img {
  height: 100vh;
}

.logo-top-left {
  padding: 2rem 0 0 1.5rem;
}

.navigation-place-right {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.main-message-arrow {
  display: flex;
  justify-content: center;
  text-align: center;
}

.center-main-message {
  color: hsl(0, 0%,  100%);
  padding-top: 10vh;
  margin: auto;
  font-family: 'Fraunces', serif;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 5px;
}

.orange-arrow {
  display: flex;
  justify-content: center;
}

.arrow-down {
  padding-top: 8vh;
}

ul {
  list-style-type: none;
  display: inline-flex;
}

.profile-picture-client {
  border-radius: 50%;
  width: 3rem;
}

.client-heading,
.center-main-message {
  text-transform: uppercase;
  text-align: center;
}

.photo-gallery-show-wide-desktop {
  display: none;
}

.photo-gallery-show-wide-mobile {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.gallery {
  height: 25vh;
  width: 50vw;
}

.brand-transform-text, .stand-out-text, .graphic-design-text-img, .photography-text-img, .wide-bottom-container {
  text-align: center;
}

.name, .client-heading, .bold-learn-more {
  font-family: 'Fraunces', serif;
}

.image-embedded-header {
  padding-bottom: 5vh;
}

.image-embedded-header, .image-embedded-description {
  padding-top: 70vh;
}

.bold-learn-more {
  text-transform: uppercase;
}

.position-title {
  font-size: 16px
}

.position-title, .testimonial, .image-embedded-description, .service-description {
  font-family: 'Barlow', sans-serif;
  padding: 0 5vw 0 5vw;
}

.information-heading, .image-embedded-header {
  font-family: 'Fraunces', serif;
  font-weight: 900;
}
.information-heading {
  font-size: 2em;
  padding: 10vh 10vw 3vh 10vw;
}

.image-embedded-header {
  font-size: 1.5em;
}

.bold-learn-more {
  padding: 5vh 10vw 10vh 10vw;
}

.name {
  padding: 3vh 0 1vh 0;
}

.client-heading {
  padding: 8vh 0 8vh 0;
  letter-spacing: 4px;
}

.client {
  padding: 0 0 8vh 0;
}

/* colouring header */

.information-heading, .bold-learn-more, .name {
  color: hsl(212, 27%, 19%);
}

.position-title, .client-heading {
  color: hsl(210, 4%, 67%);
}

.testimonial {
  color: hsl(210, 9.1%, 38.8%);
}

.service-description {
  color: hsl(232, 10%, 55%);
}

#graphic-design, #graphic-design-description {
  color: hsl(167, 40%, 24%);
}

#photography, #photography-description {
 color: hsl(198, 62%, 26%);
}

footer {
  min-height: 50vh;
  background-color: hsl(167, 44.2%, 69.8%);
}